.table{
    text-align: center;
}

.myButton {
    width: 100%;
}
/*Make alternating colors for the table rows*/
.table tr:nth-child(odd){
    background: #B8CAE4
}

.table tr:nth-child(even){
    background: #dae5f4
}

.form-actions input {
    margin:0 2px;
}

.header {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.messages {
    text-align: center;
    background-color:floralwhite;
}

.mar {
    margin-top: 15%;
    padding-top: 15%;
}

