body {
    background-color: #34eb6b;
}

.table{
    text-align: center;

}

/*Make alternating colors for the table rows*/
.table tr:nth-child(odd){
    background: #B8CAE4
}

.table tr:nth-child(even){
    background: #dae5f4
}

.header {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.messages {
    text-align: center;
    background-color:floralwhite;
}